@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-family: "Cantarell", sans-serif;
    color: #656565;
    background-color: #FF8700;
    background-image: url('fundo.png');
    background-attachment: fixed;
}

h1 {
    font-weight: bolder;
    font-size: 3.5em;
}

.botao {
    font-family: "Cantarell", sans-serif;
    font-size: 12px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    
}

.botao_principal {
    color: #ffffff;
    background-color: #FF8700; 
    /* border: 1px solid #908000; */
    border: none;
    box-shadow: 1px 1px 1px #969059;
}

.botao_invertido {
    color: #FF8700;
    background-color: transparent;
    border: 2px solid #FF8700;
}

.cabecalho {
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 75px;
    padding: 100px;
    border-radius: 250px;
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 5px #bababa;
}

.cabecalho h1 {
    margin: 0; /* Auto tem o mesmo efeito nesse caso */
    margin-top: 33.33%;
}

.cabecalho p {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 25px
}

.cabecalho button {
    margin: 10px;
}